/* custom.scss */    

/* import the necessary Bootstrap files */
@import "bootstrap";
@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap';

// Font variables
$rubik:             'Rubik', sans-serif;

.btn-primary {
    @include button-variant(
        black,
        black,
        $color: color-contrast(black),
        $hover-background: white,
        $hover-color: color-contrast(white),
    );
}

.btn {
    font-family: $rubik;
    font-weight: 500;
}


.nav-link {
    color: black;
    font-size: 1.25rem;
}

