@import url('https://fonts.googleapis.com/css?family=Hanuman');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Hanuman', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main About Page */

.intro-paragraph {
  font-size: 20px;
}

.homepage-image {
  width: 10rem;
  height: 15rem;
}

.horizontal-line {
  height: 2px;
  background-color: #E2E2E2;
  width: 100%;
}

.about-h2, .about-h3 {
  font-size: 16px;
}

.about-h3-link {
  color: black;
}

/* When going to a medium sized screen and up */
@media (min-width: 768px) {
  .intro-paragraph {
    font-size: 36px;
  }
  .homepage-image {
    width: 20rem;
    height: 30rem;
  }
}
