@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  /* font-family: 'Lato', sans-serif !important; */
  font-family: 'Rubik', sans-serif !important;
  /* font-family: 'Poppins', sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Base styles for both navbars */
.collapsed-navbar{
  display: block; /* Default to showing */
}
.expanded-navbar {
  display: none; /* Default to hidden */
}

.expanded-nav-item {
  font-size: 5rem;
}

/* Medium screens and over */
@media (min-width: 768px) {
  .expanded-navbar {
    display: block; /* Show expanded-navbar */
  }
  .collapsed-navbar{
    display: none !important; /* Default to hidden */
  }
}

