body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Homepage styling */
#homepage-spread {
  margin-top: 5rem;
}

#homepage-text {
  margin-top: 3rem;
}

#gisele-hi{
  font-size: 4rem
}

#info-text{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#homepage-image {
  width: 25rem;
}

